* {
  padding: 0%;
  margin: 0;
  border: 0;
}
body {
  width: 100%;
  height: auto;
  background: #FC89AC;
}
.header{
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  border-radius: 0 0 25px 25px;
  border: 2px solid #FF97BB;
  background: #FFF0F5;
  box-shadow:  -3px -3px 7px #ffffff73,
  3px 3px 5px rgba(94, 104, 121, 0.288);
  z-index: 3;
}
.header nav{
  width: 100%;
}
.header__ul{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 5px;
}
.header__link{
  display: flex;
  text-decoration: none;
}
.header__link a{
  display: flex;
  text-decoration: none;
  font-family: 'Noto Serif JP', serif;
  font-size: 18.5px;
  color: #FC89AC;
}
.header__link a:hover{
color: #b9e5ffd7;
text-shadow: 1px 1px 1px #008ca5;
}
.text{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 18px;
  padding-bottom: 18px;
  font-size: 30px;
  color: #b9e5ffd7;
  font-family: 'Abril Fatface', serif;
  text-shadow: 1px 1px 1px #008ca5;
}
.section1{
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
}
.section1__box1{
  position: relative;
  display: flex;
  flex: 2;
  object-fit: contain;
  width: 1000px;
  height: auto;
  background: #b9e5ffd7;
  border-radius: 0 130px 130px 0;
  z-index: 1;
}
.section1__video{
  position: relative;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 50vw;
  height: auto;
  object-fit: contain;
  justify-content: flex-start;
}
.section1__box2{
  position: relative;
  display: flex;
  flex: 1;
}
.section__text{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-family: 'Mulish', sans-serif;
  color: #F5F5F5;
  text-shadow: 1px 1px 1px #008ca5;
}
.img3 img{
  width: 500px;
  height: 600px;
  margin-left: 3%;
  margin-top: 3%;
  border-radius: 75px;
}
.section__cards {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  margin-top: 80px;
}
.cards__style{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 20px;
}
.cards__product{
  display: flex;
  font-size: 18px;
  font-family: 'Mulish', sans-serif;
  color: #F5F5F5;
  text-shadow: 1px 1px 1px #008ca5;
  margin-top: 0vh;
  margin-left: 40px;
}
.cards__catalog a{
  display: flex;
  font-size: 18px;
  font-family: 'Mulish', sans-serif;
  color: #F5F5F5;
  margin-top: 0vh;
  margin-right: 40px;
}
.container__card {
  margin-top: 0;
  border-top: #FFF0F5 solid 1px;
  border-bottom: #FFF0F5 solid 1px;
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  scroll-snap-align: start;
  margin-left: 40px;
}
.card__img img{
  width: 100%;
  height: 100%;
  display: block;
}
.cards-text{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card__title{
  margin-top: 15px;
  font-family: 'Mulish', sans-serif;
  font-size: 15px;
  color: #000000;
  text-align: left;
}
.card__price{
  margin-top: 15px;
  font-family: 'Mulish', sans-serif;
  font-size: 15.5px;
  color: #000000;
  text-align: left;
}
.card__button {
  width: 100%;
  height: 35px;
  border: #000000 solid 1px;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  background: #FFF0F5;
  color: #000000;
  cursor: pointer;
  margin-top: 10px;
}
.container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}
.container-cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.container__wrapper{
  flex: 0 0 auto;
  scroll-snap-align: start;
  margin-right: 10px;
}
.section__box2{
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
  height: auto;
  background: #FFF0F5;
  border-radius: 100px 0 0 0;
}
.box2__border{
  position: relative;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 530px;
  height: 630px;
  background: #976a4cb6;
  border-radius: 100px 0 0 100px;
  box-shadow: -3px -3px 7px #e0e0e073,
            3px 3px 5px rgba(38, 42, 49, 0.39);
}
.border__video{
  position: relative;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  width: 50vw;
  height: auto;
  object-fit: contain;
}
.section__text_box{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  width: 420px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Mulish', sans-serif;
  color: #49301f;
}
.section__cards_classic{
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  background: #c5c4c4;
  padding-top: 80px;
  padding-bottom: 40px;
}
.cards__product_colour{
  color: #49301f;
  text-shadow: none;
}
.cards__catalog_colour a{
  color: #49301f;
}
.section_box3{
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  background: #f7c1a4;
  border-top: 10px solid #F5F5F5;
}
.border__video{
  width: 32vw;
}
.section__text_box_colour{
  color: #020202;
}
.section__cards_YSL{
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  background: #fff;
  padding-top: 80px;
  padding-bottom: 40px;
}
.container__card_border{
  border-top: #49301f solid 1px;
  border-bottom: #49301f solid 1px;
}
.footer{
  position: relative;
  display: flex;
  background: #f7c1a4;
  width: 100%;
  height: 100px;
  justify-content: space-around;
}
.footer_ul{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer__link a{
  display: flex;
  text-decoration: none;
  margin-top: 40px;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  color: #49301f;
}
