* {
  padding: 0%;
  margin: 0;
  border: 0;
}
body {
  width: 100%;
  height: 1500px;
  background: #FC89AC;
  cursor: url('img/lyubov_vtj69nl3j0mb_32.png'), auto;
}
header nav ul{
position: fixed;
width: 1305px;
height: 35px;
border-radius: 0 0 25px 25px;
border: 2px solid #FF97BB;
background: #fff;
box-shadow:  -3px -3px 7px #ffffff73,
3px 3px 5px rgba(94, 104, 121, 0.288);
z-index: 10;
}
header nav ul li{
display: inline;
margin-bottom: 5px;
text-align: center;
padding: 9px;
margin-left: 4%;
text-decoration: none;
}
header nav ul li a{
text-decoration: none;
font-family: 'Merriweather', serif;
font-size: 18.5px;
color: #FC89AC;
text-shadow: 
0 0 7px #FDBDBA,
0 0 10px #FDBDBA,
0 0 21px #FDBDBA,
0 0 42px #FF97BB,
0 0 82px #FF97BB,
0 0 92px #FF97BB,
0 0 102px #FF97BB,
0 0 151px #FF97BB;
}
header nav ul li a:hover{
color: #D71868;
}
article{
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  color: #F5F5F5;
  position: absolute;
  top: 6.5%;
  left: 32%;
}
.box1{
  width: 1000px;
  height: 1400px;
  background: #DCDCDC;
  position: absolute;
  left: 0;
  top: 15%;
  border-radius: 0 130px;
  box-shadow: -3px -3px 7px #aaaaaa73,
            3px 3px 5px rgba(38, 42, 49, 0.39);
  z-index: 1;
}
.img img{
  position: absolute;
  top: 1.5%;
  border-radius: 0 130px;
  will-change: transform;
}
p{
  width: 210px;
  font-size: 15px;
  align-items: center;
  text-align: center;
  margin-left: 75%;
  color: #000000;
  margin-top: 10%;  
  font-family: 'Merriweather', serif;
  line-height: 22px;
}
.img2 img{
width: 415px;
height: 550px;
margin-left: 68.1%;
margin-top: 7.6%;
box-shadow: -3px -3px 7px #e0e0e073,
3px 3px 5px rgba(54, 57, 63, 0.39);
}
.box2{
  width: 530px;
  height: 630px;
  background: #FDBDBA;
  position: absolute;
  left: 55%;
  top: 140%;
  border-radius: 80px;
  box-shadow: -3px -3px 7px #e0e0e073,
            3px 3px 5px rgba(38, 42, 49, 0.39);
z-index: 2;
}
.img3 img{
  width: 500px;
  height: 600px;
  margin-left: 3%;
  margin-top: 3%;
  border-radius: 75px;
}
.text2{
  width: 230px;
  position: absolute;
  font-size: 15px;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-top: 1%;
  left: 10%;
  line-height: 22px;
z-index: 3;
}
.text3{
  width: 230px;
  position: absolute;
  font-size: 15px;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-top: 5%;
  left: 32%;
  line-height: 22px;
  z-index: 5;
}
.bag{
  box-shadow: -3px -3px 7px #5e5d5d73,
  3px 3px 5px #1c1d1f49;
  width: 190px;
  height: 260px;
  border-radius: 12px;
  padding: 12px;
  will-change: transform;
  background: #F5F5F5;
  z-index: 4;
}
.bag:hover{
  box-shadow: -3px -3px 7px #ff3ebf73,
  3px 3px 5px #53114e9c;
}
.picture img {
  width: 180px;
  height: 215px;
  display: block;
  will-change: transform;
  border-radius: 12px;
  margin-left: 3%;
  cursor: url('img/lyubov_xwl9yh7cylke_32.png'), auto;
  z-index: 5;
}
.picture:hover > img {
  transition: 0.4s;
  transform: scale(1.1);
}
.card-title{
  position: absolute;
  bottom: 15%;
  left: 10%;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 14px;
}
.card-price{
  position: absolute;
  bottom: 15%;
  right: 10%;
  font-family: 'Merriweather', serif;
  font-size: 14px;
}
.card-btn{
  width: 80%;
  height: 8%;
  border: none;
  position: absolute;
  bottom: 3%;
left: 10%;
cursor: url('img/podarok_43g2ksui6d1w_32.png'), auto;
font-family: 'Merriweather', serif;
font-size: 14px;
color: #fff;
background: #FC89AC;
box-shadow: -3px -3px 7px #ffffff73,
3px 3px 5px rgba(94, 104, 121, 0.288);
}
.card-btn:active{
  box-shadow: inset -3px -3px 7px #ffffff73,
  inset 3px 3px 5px rgba(94, 104, 121, 0.288);
  font-size: 13px;
}
.cards{
display: grid;
row-gap: 30px;
column-gap: 30px;
justify-content: center;
justify-items: center;
grid-template-columns: repeat(auto-fill, 220px);
margin-left: 2%;
margin-top: 0%;
z-index: 7;
}

.cards1{
  display: grid;
column-gap: 20px;
justify-content: center;
justify-items: center;
grid-template-columns: repeat(auto-fill, 220px);
margin-left: 0;
margin-top: 23%;
z-index: 7;
}
@media (min-width: 1366px) {
  article {
    font-size: 50px;
    top: 4.5%;
  }
  header nav ul{
    width: 100%;
}
header nav ul li{
  padding: 15px;
}
header nav ul li a{
  font-size: 22px;
}
.box1{
  width: 1200px;
  height: 1650px;
  top: 10%;
}
.img img{
  width: 900px;
  height: 700px;
}
p{
  width: 260px;
  font-size: 19px;
  margin-left: 76.5%;
}
.img2 img{
  width: 510px;
  height: 690px;
  margin-left: 68.1%;
  margin-top: 7.6%;
}
.cards{
  row-gap: 50px;
  column-gap: 70px;
}
.bag{
  width: 235px;
  height: 320px;
  padding: 12px;
}
.picture img {
  width: 220px;
  height: 270px;
  margin-left: 3%;
}
.card-title{
  font-size: 18px;
}
.card-price{
  font-size: 18px;
}
.card-btn{
  width: 85%;
  height: 9%;
left: 8%;
font-size: 18px;
}
.cards1{
  row-gap: 50px;
  column-gap: 70px;
}
.text2{
  width: 290px;
  font-size: 19px;
  margin-top: 1%;
  left: 10%;
}
.text3{
  width: 280px;
  font-size: 19px;
  left: 32%;
}
.box2{
  width: 630px;
  height: 730px;
  left: 55%;
  top: 100%;
}
.img3 img{
  width: 610px;
  height: 710px;
  margin-left: 1.5%;
  margin-top: 1.5%;
}
}

@media (max-width: 1024px) {
  article {
    font-size: 30px;
    top: 5.5%;
  }
  header nav ul{
    width: 100%;
}
header nav ul li{
  padding: 8px;
}
header nav ul li a{
  font-size: 18px;
}
.box1{
  width: 900px;
  height: 1800px;
  top: 12%;
}
.img img{
  width: 700px;
  height: 600px;
}
p{
  width: 185px;
  font-size: 13px;
  margin-left: 78%;
}
.img2 img{
  width: 426px;
  height: 620px;
  margin-left: 75%;
  margin-top: 9.3%;
}
.cards{
  row-gap: 20px;
  column-gap: 10px;
  margin-left: 10%;
  grid-template-columns: repeat(auto-fill, 260px);
}
.bag{
  width: 200px;
  height: 300px;
  padding: 10px;
}
.picture img {
  width: 190px;
  height: 250px;
  margin-left: 3%;
}
.card-title{
  font-size: 15px;
}
.card-price{
  font-size: 15px;
}
.card-btn{
  width: 80%;
  height: 9%;
left: 10%;
font-size: 15px;
}
.cards1{
  row-gap: 20px;
  column-gap: 10px;
  margin-left: 0;
  margin-top: 30%;
}
.text2{
  width: 210px;
  font-size: 13px;
  margin-top: 1%;
  left: 5%;
}
.text3{
  width: 210px;
  font-size: 13px;
  left: 30%;
}
.box2{
  width: 500px;
  height: 630px;
  left: 65%;
  top: 180%;
}
.img3 img{
  width: 480px;
  height: 610px;
  margin-left: 1.5%;
  margin-top: 1.5%;
}
}

@media (max-width: 480px) {
  article {
    font-size: 22px;
    top: 15%;
    left: 46%;
  }
  header nav ul{
    width: 100%;
}
header nav ul li{
  padding: 5px;
}
header nav ul li a{
  font-size: 13px;
}
.box1{
  width: 600px;
  height: 1800px;
  top: 25%;
}
.img img{
  width: 480px;
  height: 400px;
}
p{
  width: 110px;
  font-size: 8px;
  margin-left: 80%;
}
.img2 img{
  width: 330px;
  height: 420px;
  margin-left: 101%;
  margin-top: 17%;
}
.cards{
  row-gap: 20px;
  column-gap: 10px;
  margin-left: 0;
  grid-template-columns: repeat(auto-fill, 220px);
}
.bag{
  width: 180px;
  height: 250px;
  padding: 10px;
}
.picture img {
  width: 170px;
  height: 210px;
  margin-left: 3%;
}
.card-title{
  font-size: 15px;
}
.card-price{
  font-size: 15px;
}
.card-btn{
  width: 80%;
  height: 9%;
left: 10%;
font-size: 15px;
}
.cards1{
  row-gap: 30px;
  column-gap: 30px;
  margin-left: 60%;
  margin-top: 70%;
  grid-template-columns: 1fr 1fr 1fr;
}
.text2{
  width: 210px;
  font-size: 13px;
  margin-top: 12%;
  left: 5%;
}
.text3{
  width: 210px;
  font-size: 13px;
  left: 125%;
  top: 200%;
}
.box2{
  width: 450px;
  height: 580px;
  left: 65%;
  top: 340%;
}
.img3 img{
  width: 430px;
  height: 560px;
  margin-left: 2.5%;
  margin-top: 2.5%;
}
}